.topcard {
    background: url('images/meteor-logo.png');
    background-repeat: no-repeat;
    background-position: center;
    width: 941px;
    height: 400px !important;
	position: relative;
	left: 0px;
	top: 0px;
	z-index: 999;
	opacity: 1;
}